body {
    background-color:  rgb(189, 183, 240);
    color: rgb(94, 5, 5);
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right , red,orange,yellow,green,lightblue, blue, rgb(162, 0, 255)); 
    color: rgb(48, 0, 151);
    padding: 10px; 
    font-size: 16pt;
}
footer {
    background: linear-gradient(to right , red,orange,yellow,green,lightblue, blue, rgb(162, 0, 255));
    color: maroon;
    padding: 10px; 
    font-size: 14pt;
    margin: 0px;
    font-style: italic;
    text-align: right;
}

